{{ define "main" }}

{{ partial "page-title.html" . }}


<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>B</p>
        <ul>
          {{ range $.Site.Data.pubs.papers.pubs }}
          <li style="margin-top: 12px">
            <div>{{ .author }} ({{ .year }}).</div>
            <div style="font-size: 120%;;">{{ .title }}</div>
            <div>
            {{ if eq .bibtextype "Conference" }}
              {{ with .editor }}In {{ . }} (Hrsg.){{end}} {{ .booktitle }}
            {{ end }}

            {{ if eq .bibtextype "Article" }}
              <span style="text-decoration: wavy;">{{ .journal }}</span>, {{.number}} ({{ .volume }}), {{ .pages }}
            {{ end }}

            {{ if eq .bibtextype "Book" }}
            {{with .address }} {{ . }}:{{end}} {{ .publisher }}
            {{ end }}

            {{ if eq .bibtextype "Misc" }}
              {{.note}}
            {{ end }}
            </div>

          </li>
          {{ end }}
        </ul>

      </div>
      <div class="col-md-4">
         {{ partial "pubs-sidebar.html" . }}
      </div>
    </div>
  </div>
</div>


{{ end }}
