{{ define "main" }}

{{ partial "page-title.html" . }}


<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Conferences</h2> <!-- TODO I18N in the title and all strings below   {{i18n "ed."}}-->
        <ul>
          {{ range $.Site.Data.pubs.papers.pubs }}

          <li class="pub-item pub-{{lower .howpublished}}">
            <!-- {{ if eq .howpublished "talk"}}<i class="ion-ios-mic-outline"> </i>{{end}} -->
            <div class="pub-item-author">{{ .author }} ({{ .year }}).</div>
            <div class="pub-item-title" >{{ .title }}</div>
            <div>
            {{ if or (eq .bibtextype "Conference") ((eq .bibtextype "InProceedings")) }}
              {{ with .editor }}In {{ . }} ({{i18n "editors-abbr" }}),{{end}} {{ .booktitle }}
            {{ end }}

            {{ if eq .bibtextype "Article" }}
              <span>{{ .journal }}</span>, {{.number}} {{with .volumne}}({{.}}){{end}}, {{with .pages}} {{ i18n "pages-abbr" }} {{ . }} {{end}}
            {{ end }}

            {{ if eq .bibtextype "Book" }}
              {{with .address }} {{ . }}:{{end}} {{ .publisher }}
            {{ end }}

            {{ if eq .bibtextype "Misc" }}
              {{.note}}
            {{ end }}

            {{ if eq .bibtextype "MastersThesis" }}
              {{.type}} {{.school}}
            {{ end }}

            {{ if eq .bibtextype "Incollection"}}
              {{ with .editor }}In {{ . }} ({{i18n "editors-abbr" }}),{{end}} {{ .booktitle }} ({{with .pages}} {{ i18n "pages-abbr" }} {{ . }} {{end}}). {{with .address }} {{ . }}:{{end}} {{ .publisher }}.
            {{ end }}
            <!-- TODO Informatik Aktuell paper wird richtig dargestellt? -->
            </div>
            {{with .doi}}<a class="btn btn-light animated fadeInUp" href="{{.}}">doi</a>{{end}}
            {{with .url}}<a class="btn btn-light animated fadeInUp" href="{{.}}">Download</a>{{end}}
          </li>
          {{ end }}
        </ul>

      </div>
      <div class="col-md-4">
         {{ partial "pubs-sidebar.html" . }}
      </div>
    </div>
  </div>
</div>


{{ end }}
