{{ define "main" }}

{{ partial "page-title.html" . }}

<div class="page-wrapper portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="block">

        <h2>{{i18n "hPublications"}}</h2>

        <div>
          <div class="row shuffle-wrapper">
            {{ range $.Site.Data.pubs.papers.pubs }}
            {{ $pubtype := humanize .howpublished}}
            <div class="pub-item pub-{{- $pubtype }} infotip shuffle-item" data-groups="[&quot;{{- $pubtype -}}&quot;]">
              <span class="infotiptext">{{i18n $pubtype}}</span>
              <div class="pub-item-author">{{- .author}} ({{.year -}}).</div>
              <div class="pub-item-title" >{{- .title -}}</div>
              <div>
              {{ if or (eq .bibtextype "Conference") ((eq .bibtextype "InProceedings")) -}}
                {{ with .editor }}In {{ . }} ({{i18n "editors-abbr" }}),{{end}} {{ .booktitle }} 
                {{- if isset . "publisher" -}}, {{with .address }} {{ . }}:{{end}} {{.publisher}}{{- end}}
              {{- end }}

              {{ if eq .bibtextype "Article" }}
                {{.journal}}{{with .volume -}}, {{.}}{{- end}}{{with .number}} ({{.}}){{end}}{{with .pages}}, {{i18n "pages-abbr"}}&nbsp;{{.}}{{end}}
              {{ end }}

              {{ if eq .bibtextype "Book" }}
                {{with .address }} {{ . }}:{{end}} {{.publisher}}
              {{ end }}

              {{ if eq .bibtextype "Misc" }}
                {{.note}}
              {{ end }}

              {{ if eq .bibtextype "MastersThesis" }}
                {{.type}}, {{.school}}
              {{ end }}

              {{ if eq .bibtextype "Incollection"}}
                {{ with .editor }}In {{ . }} ({{i18n "editors-abbr" }}),{{end}} {{ .booktitle }} ({{with .pages}} {{ i18n "pages-abbr" }} {{ . }} {{end}}). {{with .address }} {{ . }}:{{end}} {{ .publisher }}.
              {{ end }}
              <!-- TODO Informatik Aktuell paper wird richtig dargestellt? -->
              </div>
              {{with .doi -}}
                <a class="btn btn-light animated fadeInUp" href="{{ . | printf "%s%s" "https://doi.org/" | absURL }}" target="_blank">doi</a>
              {{- end}}
              {{with .url -}}
                <a class="btn btn-light animated fadeInUp" href="{{relURL .}}" target="_blank">{{i18n "btnDownload"}}</a>
              {{- end}}
            </div>
            {{ end }}
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4">
        <aside class="sidebar">
          <div class="pub-filter">
            <div class="btn-group btn-group-toggle justify-content-center" data-toggle="buttons">
              <label class="btn btn-sm btn-primary active">
                <input type="radio" name="shuffle-filter" value="all" checked="checked">{{ i18n "all" }}
              </label>
              {{ $categories := slice -}}
              {{ range $.Site.Data.pubs.papers.pubs -}}
              {{ $categories = $categories | append (humanize .howpublished) -}}
              {{ end -}}
              {{ range ( $categories | uniq ) | sort  -}}
              <label class="btn btn-sm btn-primary">
                <input type="radio" name="shuffle-filter" value="{{ . }}">{{- i18n . -}}
              </label>
              {{- end }}
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>


{{ end }}
