/* Put custom SCSS rules in this file */
/* Documentation: https://sass-lang.com/documentation */


::selection {
    background-color: $primary-color;
    color:white;
}


// PUBLICATIONS ============

.pub-item {
    margin-top: 24px;
    display:list-item;
}
.pub-item-author {
    color:$secondary-color;
    display:inline-block;
}
.pub-item-title {
    font-size: 124%;
}
@mixin pub-bullet-style() {
    color:$secondary-color;
    display: inline-block;
    font-family: "Ionicons";
  }
li.pub-::before {
    content: "\f401";
    @include pub-bullet-style();
}
li.pub-paper::before {
    content: "\f2bf";
    @include pub-bullet-style();
}
li.pub-talk::before {
    content: "\f461";
    @include pub-bullet-style();
}
li.pub-poster::before {
    content: "\f3ca";
    @include pub-bullet-style();
}

// INFOTIPS used in the publication list ================
.infotip {
    position: relative;
    /* display: inline-block; */
    /* border-bottom: 1px dotted $secondary-color; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .infotip .infotiptext {
    visibility: hidden;
    background-color: $light;
    color: $secondary-color;
    text-align: right;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .infotip:hover span.infotiptext {
    visibility: visible;
  }

// ICONS ==========================================
.icon-seifseit-xing {
    background: center/20px url('/images/ico_xing.svg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.icon-seifseit-medium {
    background: center/20px url('/images/ico_medium.svg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.icon-seifseit-researchgate {
    background: center/20px url('/images/ico_researchgate.svg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

// BUTTONS ========================================
.btn-light {
    border: 1px solid $secondary-color;
    border-radius: 0;

    &:hover {
        background-color: $secondary-color;
        color: $light;
    }
}


