/* Put custom SCSS rules in this file */
/* Documentation: https://sass-lang.com/documentation */


::selection {
    background-color: $primary-color;
    color:$light;
}


// OVERWRITES 

.bg-dark a { // <a/> inside a section with dark background
    color:$light;
}

.about .about-img img:hover {
    opacity: 1;
}


// PUBLICATIONS ============

.pub-item {
    margin-top: 24px;
    display:list-item;
    list-style-position:inside;
    list-style-type: "";
}
.pub-item-author {
    color:$secondary-color;
    display:inline-block;
}
.pub-item-title {
    font-size: 124%;
}
@mixin pub-bullet-style() {
    color:$secondary-color;
    display: inline-block;
    font-family: "Ionicons";
  }
div.pub-Contribution::before {
    content: "\f401";
    @include pub-bullet-style();
}
div.pub-Paper::before {
    content: "\f2bf";
    @include pub-bullet-style();
}
div.pub-Talk::before {
    content: "\f461";
    @include pub-bullet-style();
}
div.pub-Poster::before {
    content: "\f3ca";
    @include pub-bullet-style();
}
div.pub-Book::before {
    content: "\f3e8";
    @include pub-bullet-style();
}

.pub-filter  .btn-group label { //.block .portfolio-menu
    display: inline-block;
    border: 1px solid #dedede;
    padding: 8px 25px;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    outline: 0;
    background: #fff;
    margin: 2px;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

// INFOTIPS used in the publication list ================
.infotip {
    position: relative;
    /* display: inline-block; */
    /* border-bottom: 1px dotted $secondary-color; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .infotip .infotiptext {
    visibility: hidden;
    background-color: $light;
    color: $secondary-color;
    text-align: right;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .infotip:hover span.infotiptext {
    visibility: visible;
  }

// ICONS ==========================================
.icon-seifseit-xing {
    background: center/20px url('/images/ico_xing.svg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.icon-seifseit-medium {
    background: center/20px url('/images/ico_medium.svg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.icon-seifseit-researchgate {
    background: center/20px url('/images/ico_researchgate.svg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

// BUTTONS ========================================
.btn-light {
    border: 1px solid $secondary-color;
    border-radius: 0;

    &:hover {
        background-color: $secondary-color;
        color: $light;
    }
}


