$light: #fff;
$primary-color: #08083f;
$secondary-color: #84849F;
$success: #50c450;
$black: #000014;
$alert:#c53055;
$border-color:#dedede;
$primary-font:'Fira Sans', sans-serif;
$secondary-font:'Roboto', serif;
$icon-font: 'themefisher-font';

/* this colour is used in the theme CSS for overlays of title images */
$overlay: #1a1a3f;