<!-- {{/*
Cloak the e-mail address given as `params.contact.email` in the config file.

Usage: {{< cloakedcontactmail >}}
*/}} -->
{{- $email := .Site.Param "contact.email" -}}
{{- $address_parts := split $email "@" -}}
{{- $user := index $address_parts 0 -}}
{{- $domain := index $address_parts 1 -}}
<span class="cloaked-e-mail" data-user="{{ range $index := seq (sub (len $user) 1) 0 }}{{ substr $user $index 1 }}{{ end }}" data-domain="{{ range $index := seq (sub (len $domain) 1) 0 }}{{ substr $domain $index 1 }}{{ end }}"></span>
{{- /* Dummy comment to strip trailing newline */ -}}
