{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ with .Params.image }}
        <img class="img-responsive w-100" src="{{ . | relURL }}" alt="">
        {{ end }}
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>{{i18n "hPaperDetails"}}</h4>
          <ul>
            {{ range .Params.information }}
            <li><span>{{ .label }} :</span> <strong>{{ .info | markdownify }}</strong></li>
            {{ end }}
            <li><span>{{ i18n "lblLanguage" }} :</span> <strong>{{range .Params.languages}}{{ . | markdownify }}{{ end }}</strong></li>
            <li><span>{{ i18n "lblYear" }} :</span> <strong>{{ .Date.Format "2006" | markdownify }}</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
